.contact {
  padding: 8rem 0;
  background-color: #375C68;
  
  &__description {
    width: 133.6rem;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 2.8rem;
    color: #fff;
    
    @media only screen and (max-width: $bp-largest) {
      width: 100%;
      padding: 0 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
      padding: 0 1.5rem;
      font-size: 2rem;
    }
  }
  
  &__socials-box {
    width: 133.6rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    
    @media only screen and (max-width: $bp-largest) {
      width: 100%;
      padding: 5rem;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 1.5rem;
    }

    
    
  }
  
  &__social {
    color: #fff;
    font-size: 2.8rem;
    transform: translatey(0);
    transition: all .3s;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2rem;
    }
    
    &:hover {
      color: $color-logo-primary;
      transform: translatey(1rem);
    }
    
    > a:link,
    a:visited,
    a:active {
      text-decoration: none;
      color: currentcolor;
      font-size: 2.8rem;

      @media only screen and (max-width: $bp-smallest) {
        font-size: 2rem;
      }
    }
    
    @media only screen and (max-width: $bp-smallest) {
      width: 50%;
    }
    
    &:nth-child(1) {
      @media only screen and (max-width: $bp-smallest) {
        margin-bottom: 1rem;
      }
    }
    
  }
    
}